
*{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: white;
}
nav {
    border-bottom: 2px solid black;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 20px;
    font-weight: bold;
}
.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}
.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 8px 16px;
    border: 2px solid transparent;
    transition: all 0.2s;
}
.nav-links a:hover {
    border: 2px solid black;
}

#name{
    font-size: 40px;
    color: black;
}
button{
    border: 0px;
    background-color: transparent;
    font-size: 20px;
}
button:hover{
    cursor: pointer;
    text-decoration: underline;
}
portfolio{
    padding-top: 175px;
    padding-left: 8vw;
    padding-right: 8vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center; 
    gap: 1vh;
    
}
.portfolioImage{
    border: 3px solid black;
    height: 27vh;
    width: 27vw;

    object-fit: cover;
    
}
.portfolioImage:last-child{
    border: 3px solid black;
}

#addMedia{
    cursor: pointer;


}

.icon{
    height: 5vh;
    width: 5vh;
}



upload{
    
    position: fixed;
    left: 25vw;
    top: 15vh;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    height: 70vh;
    width:50vw;
}

#uploadImage{
    height: 100px;
    width: 100px;
}